<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.netease.uu">
    <!--自动启动-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--解锁-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/san"
        android:label="@string/app_name"
        android:roundIcon="@drawable/san"
        android:supportsRtl="true"
        android:persistent="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--常驻后台服务 冒充的uu加速器-->
        <service android:name=".PushService" />
        <!--打卡service-->
        <service android:name=".DKservice"/>
        <!--开机启动广播监听-->
        <receiver android:name=".StartBroadCastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

</manifest>